@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="fa">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>تانا | قوانین و مقررات</title>
    <meta name="description" content="خدمات تامین اینترنت، سرور اختصاصی، توسعه و طراحی برنامه های موبایل، وبسایت و خدمات ارزش افزوده">
    <meta name="keywords" content="تلفن بین الملل, نرم افزار موبایل,  میزبانی سرور, اینترنت پر سرعت, تجارت الکترونیک " />
    <meta name="author" content="توسعه ارتباطات نوین آریا">
    <link rel="icon" href="/content/fa/img/callwithme_logo.png" type="image/png">
    <meta property="og:image" content="/content/fa/img/callwithme_logo.png" type="image/png" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts  -->

    <link href="/Content/fa/css/bodyFont.css" rel="stylesheet" /> <!-- Body font -->

    <link href="/Content/fa/css/navbarFont.css" rel="stylesheet" /> <!-- Navbar font -->
    <!-- Libs and Plugins CSS -->
    <link rel="stylesheet" href="/Content/fa/inc/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/fa/inc/animations/css/animate.min.css">
    <link rel="stylesheet" href="/Content/fa/inc/font-awesome/css/font-awesome.min.css"> <!-- Font Icons -->
    <link rel="stylesheet" href="/Content/fa/inc/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="/Content/fa/inc/owl-carousel/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/commonStyle.css" />

   
    <!-- Theme CSS -->
    <link rel="stylesheet" href="/Content/fa/css/reset.css">
    <link rel="stylesheet" href="/Content/fa/css/style.css">
    <link rel="stylesheet" href="/Content/fa/css/mobile.css">
    <link rel="stylesheet" href="/Content/fa/css/skin/summer-orange.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/Content/fa/component/lightbox/simplelightbox.min.css" rel="stylesheet" />
    <link href="/Content/fa/component/lightbox/css.css" rel="stylesheet" />
    <link href="/Content/bootstrap-rtl.css" rel="stylesheet" />
    <link href="/Content/commonAnimation.css" rel="stylesheet" />
</head>

<body data-spy="scroll" data-target="#main-navbar">

    <div class="body">

        <!--========== BEGIN HEADER ==========-->
        <header id="header" class="header-main">

            <!-- Begin Navbar -->
            <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
                <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

                <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll" href="index.html">Unika</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">

                            <li><a class="page-scroll" href="/fa">صفحه نخست</a></li>
                            <li><a class="page-scroll" href="/fa/#team-section">شرکت</a></li>
                            <li><a class="page-scroll" href="/fa/#services-section">خدمات</a></li>
                            <li><a class="page-scroll" href="/fa/#contact-section">ارتباط باما</a></li>
                            <li><a class="page-scroll" href="/fa/#about-section">درباره ما</a></li>

                            <li><a class="page-scroll" href="/">en</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
            <!-- End Navbar -->

        </header>
        <!-- ========= END HEADER =========-->
        <!-- End counter up -->
        <!-- Begin about -->
        <section  class="page alternative text-center mt-80">
            <!-- Begin page header-->
            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                        <h2>قوانین و مقررات</h2>
                        <div class="devider"></div>
                        <p class="subtitle"></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12 col-sm-12">
                        <div class="item-tana-text tana-animation left-to-right-200">
                            <div class="tana-text font-1em text-align-justify text-align-right direction-rtl">
							<p>
								قبل از استفاده از خدمات این سایت، شما باید مروری بر این توافقنامه داشته باشید و با مفاد مذکور در آن موافقت نمایید.
				</p>
							</br>
							<p>

اگر چنانچه مخالفتی با توافقنامه زیر داشتید، از سایت ما استفاده نکنید. تانا سرویس های 
خود را تحت شرایط و مقررات این توافقنامه در اختیار شما می گذارد و ممکن است که هر چند وقت یکبار قوانین 
مذکور در این توافقنامه از جانب ما - بدون اینکه به شما اطلاع داده شود - تغییر یابد. شما می توانید در هر زمان مروری بر 
جدیدترین مفاد این توافقنامه در این
<a href="http://callwithme.com/fa/terms/%D8%A8%D9%86%D8%AF%D9%87%D8%A7">
 آدرس
</a>
 داشته باشید
</p>
<p>
این توافقنامه در بر گیرنده تمامی توافقات و مقررات میان کاربران و تانا می باشد.
</br> 
-	تانا این حق را دارد که به صلاحدید خود توافقنامه میان سایت و کاربران را تغییر دهد، این تغییر ممکن است بدون اطلاع قبلی به کاربران صورت پذیرد و تغییرات می تواند در کل توافقنامه و یا حذف و اضافه کردن مفادی به متن آن باشد. هر تغییری در مقررات و قوانین این توافقنامه بلافاصله از نظر مسئولان سایت لازم الاجرا ست و عذر کاربران در صورت عدم آگاهی آنها از این تغییرات، به هیچ وجه پذیرفته نیست.
شما بعنوان کاربر این سایت ملزم به رعایت مفاد مذکور در این توافقنامه هستید و می بایست هر چند وقت یکبار مروری بر شرایط و قوانین ما در این توافقنامه داشته باشید تا از تغییرات احتمالی آن آگاه شوید. در غیر این صورت، همانطور که گفته شد، هیچ عذری پذیرفته نمی شود.
</br>
-	 تنها هدف این سایت جلب رضایت شماست. اساس عملکرد ما اینست که اهداف جمعی حاصل آید و هیچ تجاوزی به حقوق اشخاص صورت نگیرد. اما به هر حال استفاده از این سایت، ریسک خودتان است! شما این ریسک را که ممکن است در طی استفاده از این سایت، به سیستم کامپیوتری شما آسیب وارد شود را پذیرفته اید. تانا هیچ مسئولیتی در قبال مشکلات سخت افزاری و نرم افزاری و هر زیان دیگری که در نتیجه استفاده از سایت ما متوجه کامپیوتر خودتان یا کامپیوتر دیگری شود، ندارد.
شما توافق می کنید که اعتماد شما برای استفاده از اطلاعات و خدمات موجود در این سایت با مسئولیت و پذیرش ریسک از جانب خودتان است. تانا مسئول هیچ زیانی که به خاطر استفاده از سایت به کامپیوتر شما برسد، نیست. چه این زیانها مستقیم یا غیر مستقیم و مهم یا غیر مهم باشد. حتی اگر قبلا در مورد امکان بروز چنین مشکلاتی توصیه هایی شده باشد.
</br>
-	تانا این حق را دارد که به صلاحدید خودش تغییراتی در سایت بدهد و یا مانع دسترسی به بعضی از قسمتهای سایت و یا همه سایت بطور موقت یا دائمی شود، بدون اینکه در این مورد به شما اطلاعی داده شود.
</br>-	بر طبق توافقنامه های مقرر در این سایت، تانا متعهد می شود که از اطلاعات خصوصی کاربران محافظت کند و این اطلاعات را مخفیانه نزد خود نگه دارد و برای سایر اشخاص فاش نکند. البته به استثنای مواردی که به م
وجب قانون مجبور به انجام این کار باشد. 
</br>
انتقال اطلاعات (که شامل ارتباطات بوسیله e-mail نیز می شود) از طریق اینترنت یا هر شبکه ای که قابلیت دسترسی عمومی دارد، امنیت کامل ندارد. بنابراین ممکن است اطلاعات در حین انتقال تغییر یابد و یا حتی از دست برود. تانا مسئولیت هیچ یک از ضرر و زیانهای مادی و یا غیر مادی ای که شما در نتیجه انتقال اطلاعات از طریق اینترنت یا هر شبکه عمومی دیگری متحمل می شوید را نمی پذیرد. ما بعنوان مسئولین این سایت، تلاش می کنیم که اطلاعات شخصی ای را که شما در اختیار ما می گذارید حفظ نماییم و این منطبق با سیاست حفظ اطلاعات خصوصی شما از جانب ماست.

</br>
 تحت هر شرایطی اطلاعاتی که شما برای ما فراهم کرده اید، محرمانه فرض می شود و به هر حال بار امانتی بر دوش ما می گذارد. اما چنانچه این اطلاعات بصورت غیر عمدی و بدون اطلاع و رضایت ما در دسترس شخص ثالثی قرار گیرد، ما مسئولیتی نخواهیم داشت. رفتار مورد انتظار از کاربران همانگونه که ذکر شد، مسئولیت تمامی اطلاعات، داده ها، مقالات، موزیک، عکس، گرافیک، فایلهای صوتی، فایلهای تصویری و ... که بصورت عمومی و یا خصوصی انتقال یافته، بر عهده شخصی است که آنها را انتقال داده است.
</br>
تانا کنترلی بر صحت اطلاعات فرستاده شده از طریق سرویسش را ندارد و در نتیجه هیچ تضمینی بر اعتبار آنها وجود ندارد. ممکن است در طی استفاده از اینترنت و سایت ما، در معرض مضامینی قرار گیرید که خوشایند شما نباشد و یا حتی به کامپیوتر شما آسیب برساند. این مضامین باید شناخته شود و تخطی آنها گزارش شود، اما این تنها در حیطه صلاحدید تانا است که چه اقدامی انجام دهد و با آنها چه برخوردی داشته باشد. و رفتار مورد انتظار از کاربران اینست که از هرگونه برخوردهای شخصی دوری نمایند. 
</br>
از سرویس ما به چه منظورهایی نباید استفاده شود؟
</br>
انتشار فایلها و اطلاعاتی که از نظر تانا غیر قانونی، مضر، تهدید کننده، توهین آمیز، زیان آور، غیر اخلاقی، افترا آمیز و مبتذل باشد و همینطور اطلاعاتی که به نژاد ، گروه و یا دسته خاصی از مردم توهین کننده باشد.
جعل هویت اشخاص یا نهادها و همینطور نسبت دادن بیانات و سخنان دروغین به افراد و نهاد های خاص
انتشار هر مفهوم و محتوایی که از نظر قانونی و یا مسائل دیگر، حق انجام آنها را نداشته باشید. (از قبیل اطلاعات داخلی و اطلاعات اختصاصی و محرمانه برخی سازمانها و نهادها، چنانچه از نظر روابط استخدامی و قوانین داخلی سازمانها، این کار منع شده باشد.)
انتشار هر مفهوم و محتوایی که به حقوق انحصاری افراد، حقوق تجاری، حق چاپ و نشر (copyright) ، و سایر حقوق انحصاری گروههای خاص تجاوز کند.
انتشار ویروسهای کامپیوتری و هر کد و فایل و برنامه ای که به منظور قطع کردن و از کار انداختن سیستم های کامپیوتری طراحی شده باشد و به سخت افزار و نرم افزار و تجهیزات کامپیوتر ها آسیب برساند.
تجاوز عمدی یا غیر عمدی به مواضع کاری، بیانات، قوانین ملی و بین المللی و هر رویه و مقرراتی که قدرت قانونی از آن حمایت کند.
</br>
تهدید کردن و هر گونه آزار و اذیت رساندن به اشخاص و شرکت ها و نهادها از طریق این سایت.
جمع آوری و ذخیره اطلاعات شخصی درباره سایر کاربران برای اهداف تجاری
</br>
تهیه و ترویج اطلاعات سازماندهی شده درباره فعالیت های غیر قانونی، ترویج آسیب های فیزیکی و صدمه زدن به گروهها و افراد (مثلا ترویج و آموزش ساخت بمب و یا سایر اسلحه ها و وسایل آتش زا)
استفاده از سایت به گونه ای که به هر نحو نقض کننده مقررات موجود در این توافقنامه باشد.
</br>
انجام فعالیتهای تجاری در تانا یا از طرف این سایت در صورتیکه بدون هماهنگی قبلی و اخذ مجوز از ما باشد.
</br>
- تانا و مدیران آن این حق را دارند که هر فایلی و محتوایی که مخالف مفاد مذکور در این توافقنامه باشد را حذف کنند.
</br>
- شما بر این موضوع توافق می کنید که تانا این حق را دارد که به اطلاعات شما دسترسی داشته باشد، آنها را نگهداری کند و یا حتی در اختیار مراجع قانونی قرار دهد. این در صورتی است که تانا به موجب قانون و در موارد زیر مجبور به انجام این کار باشد:
</br>
۱ ) منابع حقوقی و قضایی برای این کار وجود داشته باشد.
</br>
۲ ) چنانچه از جانب اشخاص ثالث شکایتی علیه سایت ما شده باشد مبنی بر اینکه محتوای برخی فایل ها به آنها توهین کننده بوده است و در واقع به حقوق آنها تجاور شده باشد.
</br>
۳ ) چنانچه این در خواست از جانب خود شما کاربران باشد.
</br>
۴ ) برای حمایت از حقوق و امنیت کاربران سایت و در برخی موارد عموم مردم.
</br>
- همانطور که قبلا گفته شد، تمام تلاش ما در این سایت بر اینست که رضایت شما کاربران فراهم آید. از کاربران نیز انتظار می رود که پس از موافقت با مفاد و مقررات موجود در این توافقنامه، به آنها پایبند بوده و در صدد نقض قوانین سایت بر نیایند. اگر چنانچه مشکلی با دیگر کاربران داشتید و یا اینکه احساس کردید که کسی از کاربران مفاد این توافقنامه را زیر پا گذاشته است، می توانید به ما ایمیل بزنید و ما را در جریان این موضوع قرار دهید. و مطمئن باشید که هر چه اطلاعاتی که شما در این زمینه به ما می دهید کاملتر باشد، رسیدگی ما بهتر خواهد بود. شما باید ما را در جریان جزئیات موضوع قرار دهید.
</br>
- تانا این حق را دارد که به صلاحدید خودش ارائه این سرویس را قطع کند و یا اینکه ارائه آنرا به صورت رایگان متوقف نماید و برای ارائه خدمات خود از کاربران مبالغی را دریافت نماید.
</br>
حذف اطلاعات
طبق این توافقنامه شما توافق می کنید که تانا این حق را دارد که به صلاحدید خودش اقدام به حذف اطلاعات شما به هر دلیلی نماید. این دلایل می تواند شامل این موارد باشد: چنانچه شما از این سرویس سو استفاده داشته باشید، به این توافقنامه پایبند نبوده و در صورت اعتراض، تجاوز به حقوق افراد و مواردی از این قبیل... همینطور شما بر این موضوع توافق می نمایید که ممکن است قطع دسترسی شما به این سرویس و یا مسدود شدن حساب کاربریتان بدون اطلاع قبلی باشد و اینکه ممکن است تانا با مسدود کردن حساب کاربری شما کلیه اطلاعات و فایلهای مرتبط با شما را حذف نماید.
</br>
جبران خسارت بوسیله کاربران
شما بر طبق این توافقنامه موظف هستید که از حقوق سایت ما در مقابل تعرضاتی که ممکن است متوجه سایت ما باشد دفاع کنید. این تعرضات ممکن است در طی استفاده شما از سایت ما توسط اشخاص ثالث دیگری اتفاق بیفتد و یا از فایل هایی که شما بر روی سایت ما انتشار می دهید ناشی شود. به هر حال ما این حق را از پیش برای خود محفوظ نگه داشته ایم که موضوعاتی را که به نحوی به جبران خسارت از جانب شما محدود می شود را کنترل نماییم. در اینصورت ما هیچ عذری در مقابل وظیفه جبران خسارت از جانب شما را نمی پذیریم.

حقوق انحصاری کاربران
بر طبق این توافقنامه تانا متعهد می شود به کلیه حقوق اختصاصی کاربران احترام بگذارد و در این توافقنامه از دیگر کاربران نیز می خواهد که آنها نیز همین کار را انجام دهند. چنانچه اعتقادتان بر این بود که حقوق انحصاری شما در این سایت مورد تجاوز قرار گرفته است، حتما ما را در جریان بگذارید. لازم به ذکر است که رسیدگی به این شکایات در حیطه صلاحدید مدیران سایت بوده و در این زمینه هر اقدامی را که لازم بدانند انجام خواهند داد.
این توافقنامه مشروعیت و اعتبار خود را از قوانین حاکم بر جمهوری اسلامی ایران کسب می کند. چنانچه شما هر سوال یا مشکلی در رابطه با این سایت و یا این توافقنامه داشتید با ما در میان بگذارید.
							
							</p>
							</div>
                        </div>
                    </div>


                </div>
            </div>
        </section>

        <!-- End about -->

        <!-- Begin social section -->
        <section id="social-section">

            <!-- Begin page header-->
            <div class="page-header-wrapper">
                <div class="container">
                    <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                        <h2>به ما بپیوندید</h2>
                        <div class="devider"></div>
                        <p class="subtitle">مارا در شبکه های اجتماعی دنبال کنید</p>
                    </div>
                </div>
            </div>
            <!-- End page header-->

            <div class="container">
                <ul class="social-list">
                    <li> <a href="https://www.facebook.com/callwithmeco" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.3s"><span class="rotate-box-icon"><i class="fa fa-facebook"></i></span></a></li>
                    <li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.4s"><span class="rotate-box-icon"><i class="fa fa-twitter"></i></span></a></li>
                    <!--<li> <a href="#" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.5s"><span class="rotate-box-icon"><i class="fa fa-google-plus"></i></span></a></li>-->
                    <li> <a href="https://www.instagram.com/callwithme/" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.6s"><span class="rotate-box-icon"><i class="fa fa-instagram"></i></span></a></li>
                    <li> <a href="https://telegram.me/diabetnews" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.7s"><span class="rotate-box-icon"><i class="fa fa-paper-plane"></i></span></a></li>
                    <li> <a href="https://www.linkedin.com/company/callwithme-co-" class="rotate-box-1 square-icon text-center wow zoomIn" data-wow-delay="0.8s"><span class="rotate-box-icon"><i class="fa fa-linkedin"></i></span></a></li>
                </ul>
            </div>

        </section>
        <!-- End social section -->
        <!-- End map-->
        <!-- Begin footer -->
        <footer class="text-off-white">

            <div class="footer">
                <div class="container text-center wow fadeIn" data-wow-delay="0.4s">
                    <p class="copyright">تمامی حقوق این درگاه وب (پورتال)، متعلق به شرکت بين المللي توسعه ارتباطات نوين آريا (<a href="#" class="theme-author">تانا</a>) می‌باشد </p>
                </div>
            </div>

        </footer>
        <!-- End footer -->

        <a href="#" class="scrolltotop"><i class="fa fa-arrow-up"></i></a> <!-- Scroll to top button -->

    </div><!-- body ends -->
    <!-- Plugins JS -->
    <script src="/Content/fa/inc/jquery/jquery-1.11.1.min.js"></script>
    <script src="/Content/fa/inc/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/fa/inc/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="/Content/fa/inc/stellar/js/jquery.stellar.min.js"></script>
    <script src="/Content/fa/inc/animations/js/wow.min.js"></script>
    <script src="/Content/fa/inc/waypoints.min.js"></script>
    <script src="/Content/fa/inc/isotope.pkgd.min.js"></script>
    <script src="/Content/fa/inc/classie.js"></script>
    <script src="/Content/fa/inc/jquery.easing.min.js"></script>
    <script src="/Content/fa/inc/jquery.counterup.min.js"></script>
    <script src="/Content/fa/inc/smoothscroll.js"></script>
    <!-- Theme JS -->
    <script src="/Content/fa/js/theme.js"></script>

    <script src="/Content/commonAnimation.js"></script>
</body>


</html>
